<!-- templates/birthday/birthday.html -->
{% extends "base.html" %}
<!-- Подключаем библиотеку django_bootstrap5. -->
{% load django_bootstrap5 %}

{% block content %}
  {% if "/edit/" in request.path %}
  <!-- Вывести заголовок и номер записи. -->
    <h1>Редактировать запись {{ data.pk }}</h1>
  {% else %}
    <h1>Создать запись</h1>
  {% endif %}
  <div class="card col-4">
    <div class="card-header">
      Калькулятор ожидания дня рождения
    </div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          <!-- Добавьте тег csrf_token. Без него POST-запрос будет отклонён. -->
          {% csrf_token %}
          {% bootstrap_form form %}
          <!-- Добавляем кнопку отправки данных. -->
          {% bootstrap_button button_type="submit" content="Отправить" %}
        </form>
      </div>
  </div>
{% endblock %}